*{
    box-sizing: border-box;
}
body{
    margin: 0;
    position: relative;
}
/*
Seccí+on de cabecera
*/
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
/*Prte de arriba de la cabecera*/
.arriba{
    display: inherit;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    background-color: black;
}
/*Imagenes de mexico*/
.mxm-img{
    display: inline-block;
    width: 40px;
    
}/*Imagen de usa*/
.usa-img{
    display: inline-block;
    width: 40px;

}
/**SEcciones de paises*/
.mexico{
    display: inline-block;
    padding-top: 9px;
}
.usa{
    display: inline-block;
   
}
/*Div de idioma*/
.idioma{
    display: inherit;
    flex-grow: 1;
    justify-content: center;
}/*Div del logo*/
 .logo{
    flex-shrink: 8;
    padding: 15px;
   
    flex-grow: 2;
    display: flex;
    justify-content: center;
    width: 200px;
}/*Imagen del logo*/
.logo-img{
    
    display: inline-block;
    width: 150px;    
}/*dIV DE COMPRA*/
.compra{
    
    flex-grow: 1;
    display: inherit;
    align-items: center;
    justify-items:center;
}/*Logos*/
.material-symbols-outlined{
    font-size: 40px;
    flex-grow: 5;
    justify-items: center;
    display: inherit;
}/*Carro*/
.shopping{
    
    justify-content: center;
}/*Persona*/
.person{
     
    flex-shrink: 3;
}/*Iniciar sesión */
.log{
    color: bisque;
}/*Sección de abajo*/
.abajo{
    background-color: rgba(0, 0, 0, 0.842);
    display:inherit;
    
    
} /*Enlaces de compra */
.compra>a,.shopping>a{
    text-decoration: none;
    color:bisque;
}
.compra>a{
    display:inherit;
    flex-direction: column;

}/*Enlaces de la sección de abajo*/
.abajo a{
    display: inherit;
    justify-content: center;
    text-decoration: none;
    color: bisque;
    flex-grow: 2;
}
/*Hover general*/
@media(hover:hover){
    .abajo a:hover{
        background-color: bisque;
        color: #591d1a;
        transition: .6s;
    }
    .btn-contactos:hover{
        background-color: bisque;
        color:#6e1615 ;
        border-color: bisque;
        transition: .6s;
    }
    .whatsapp:hover{
        background-color: bisque;
        color:#6e1615 ;
        border-color: bisque;
        transition: .6s;
    }
    .instagram:hover{
        background-color: bisque;
        color:#6e1615 ;
        border-color: bisque;
        transition: .6s;
    }
    .correo:hover{
        background-color: bisque;
        color:#6e1615 ;
        border-color: bisque;
        transition: .6s;
        cursor: pointer;
    }
    .telefono:hover{
        background-color: bisque;
        color:#6e1615 ;
        border-color: bisque;
        transition: .6s;
    }
    .derecha:hover{
        color: bisque;
        transition: .6s;
    }
    .izquierda:hover{
        color: bisque;
        transition: .6s;
    }
    .text1:hover{
        color: rgba(245, 245, 245, 0.623);
        transition: .6s;
     }
     .iw:hover, .ii:hover, .im:hover, .ip:hover{
        color: #591d1a;
        cursor: pointer;
    }
}/*Botón de contactos*/
.contactos-con{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 50px;
}

.btn-contactos,.whatsapp,.instagram,.correo,.telefono{
    
    height: 10vh;
    background-color:  rgba(0, 0, 0, 0.842);;
    border: 2px solid  rgba(0, 0, 0, 0.842);;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;    
    margin: 0;
}
.btn-contactos{
    font-size:  .8em;;
}
.whatsapp,.instagram,.correo,.telefono{
    font-size: 1.5em;
   
}

.todos-cont{
    
    visibility: hidden;
    margin-bottom: -100%;
    transition: all 500ms ease-in;
}
.abierto{
    display: inline-block;
    visibility: visible;
    margin-top: -200%;
    transition: all 500ms ease-in;
}
/*Slider*/
.slider{
    overflow: hidden;
    width: 30vw;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.grupo{
    display:flex;
    width: 180vw;
    height: 65vh;
}
.slider_img{
    width:100%;
    
}/*Imagenes*/
.slider_img img{
    width: 100%;
    height: 100%;
}
/*Botones*/
.derecha,.izquierda{
    position: absolute;
}
.seccion-mayor{
    position: relative;
}
.derecha{
    right: 0;
    top: 50%;;
    
    font-size: 3em;
}
.izquierda{
    left: 0;
    top:50%;
  
    font-size: 3em;
}
.animacion{
    transition: all ease-in 0.8s;
    margin-right: 250vw;
}
/*Sección de compra*/
.seccion{
    display: grid;


}/*Ropa*/
.ropa{
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(3,1fr);
    grid-auto-columns: minmax(100px,auto);
    justify-items: center;
    position: relative;
}
.img7{
    width: 100%;
}

/*Video intro*/
.video{
    width: 100%;
}
.anima{
    width: inherit;
}/*Imagen del sombrero*/
.sombreros2{
    align-self: center;
    justify-self: stretch;
    position: relative;
    display: grid;
    background-color: #260000;
}/*Enlace*/
.l1{
    display:grid;
   text-decoration: none;
   
   grid-template-columns: 250
    ;
   
}/*Imagen de sombrero*/

.img7{
   position: relative;
   opacity:.5;
}/*Sombreros*/
.text1{
    
    justify-self: center;
    position: absolute;
    align-self: center;
    font-size: 4vw;
    color:whitesmoke;
   
    
    
}
/*Pie de página*/
.footer{
    
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    height: 20vh;
    position: absolute;
}
/*Privacidad*/
.AP{
    color: bisque;
}
.AP a{
    text-decoration: none;
    color: inherit;
}/*Sección de la derecha*/
.derechaf{
    border-right: white solid 2px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-items: center;
}
.iw, .ii, .im, .ip,.direccion{
    color: bisque;
}/*Contactos*/
.contactos-footer{
    border-right: white solid 2px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
}
.direccion{
    display: grid;
    justify-content: center;
    align-items: center;
}/*QR de instagram*/
.instagram-qr {
    margin-left: auto;
    margin-right: auto;
}
.carrito_1.active{
    visibility: visible;
}
